/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/

.vp-doc ul{
    padding: 0 !important;
    margin: 0 !important;
}

.vp-doc > div > p {
    margin:0 !important;
    padding: 0 !important;
}